<section class="todoapp" v-cloak>
  <header class="header">
    <h1>Checklist</h1>
    <h2>{{eventDate}}</h2>
    <button class="new-session" @click="startNewSession()"><i class="mdi mdi-18px mdi-reload"></i> New Session</button>
    <input class="new-todo"
      autofocus autocomplete="off"
      placeholder="What needs to be done?"
      v-model="newTodo"
      @keyup.enter="addTodo">
  </header>
  <div class="loader" :class="{ loading: loading }">
    <rise-loader class="spinner" :loading="loading" :size="'24px'"></rise-loader>
  </div>
  <modal v-if="newSessionModalResult" :result="newSessionModalResult">
    <h3 slot="header">Reset Checklist Session</h3>
    <h4 slot="body">Please confirm your choice</h4>
  </modal>
  <section class="main" v-show="todos.length">
    <input class="toggle-all" type="checkbox" v-model="allDone">
    <ul class="todo-list">
      <li v-for="todo in filteredTodos"
        class="todo"
        :key="todo.id"
        :class="{ completed: todo.completed, editing: todo == editedTodo }">
        <modal v-if="reminderPickModalResult" :result="reminderPickModalResult" :todo="todo">
          <h3 slot="header">Please pick your desired reminder for {{ todo.title }}</h3>
          <div slot="body">
            <button class="modal-cancel-button" @click="reminderPickModalResult('cancel')">
              Cancel
            </button>
            <button class="modal-default-button" @click="reminderPickModalResult('ok')">
              OK
            </button>
          </div>
          <div slot="footer">
            <vue-clock-picker mode="24" :defaultHour="defaultHour" :defaultMinute="defaultMinute" :onTimeChange="timeChangeHandler"></vue-clock-picker>
          </div>
        </modal>
        <div class="view">
          <input class="toggle" type="checkbox" v-model="todo.completed">
          <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
          <button class="new-session" @click="updateReminder(todo)"><i class="mdi mdi-18px mdi-calendar-clock"></i></button>
          <button class="destroy" @click="removeTodo(todo)"></button>
        </div>
        <input class="edit" type="text"
          v-model="todo.title"
          v-todo-focus="todo == editedTodo"
          @blur="doneEdit(todo)"
          @keyup.enter="doneEdit(todo)"
          @keyup.esc="cancelEdit(todo)">
      </li>
    </ul>
  </section>
  <footer class="footer" v-show="todos.length" v-cloak>
    <span class="todo-count">
      <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
    </span>
    <ul class="filters">
      <li><router-link :to="{ path: '/', query: { visibility: 'all' } }" :class="{ selected: visibility == 'all' }">All</router-link></li>
      <li><router-link :to="{ path: '/', query: { visibility: 'active' } }" :class="{ selected: visibility == 'active' }">Active</router-link></li>
      <li><router-link :to="{ path: '/', query: { visibility: 'completed' } }" :class="{ selected: visibility == 'completed' }">Completed</router-link></li>
    </ul>
    <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
      Clear completed
    </button>
  </footer>
</section>
