<section class="todoapp">
  <header class="header">
    <h1>Checklist</h1>
    <h2>{{eventDate}}</h2>
    <v-button markup="warning" @click="startNewSession()"><i class="mdi mdi-18px mdi-reload"></i> New Session</v-button>
    <v-select class="template-select" v-model="templateId" :options="templateIds" :placeholder="'Select a template'"></v-select>
    <input class="new-todo"
      autofocus autocomplete="off"
      placeholder="What needs to be done?"
      v-model="newTodo"
      @keyup.enter="addTodo">
  </header>
  <div class="loader" :class="{ loading: loading }">
    <rise-loader class="spinner" :loading="loading" :size="'24px'"></rise-loader>
  </div>
  <my-modal v-if="newSessionModalResult" :result="newSessionModalResult">
    <h3 slot="header">Reset Checklist Session</h3>
    <h4 slot="body">Please confirm your choice</h4>
  </my-modal>

  <section class="main" v-show="todos.length">
    <input class="toggle-all" type="checkbox" v-model="allDone">
    <draggable :list="todos" element="ul" class="todo-list drag-area" :options="{filter: '.modal-mask', handle: '.drag-handle'} " @update="persistNewOrder">
      <transition-group>
        <li v-for="todo in todos"
          class="todo"
          :key="todo.order">
          <my-todo-row v-on:edited="showLoader"
            :todo="todo"
            :config="config"
            :removeTodo="removeTodo"
            :orderTemplateId="templateId.value"
            :nextOrder="nextOrder"></my-todo-row>
        </li>
      </transition-group>
    </draggable>
  </section>
  <footer class="footer" v-show="todos.length">
    <span class="todo-count">
      <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
    </span>
    <!-- <ul class="filters">
      <li><router-link :to="{ path: '/', query: { visibility: 'all' } }" :class="{ selected: visibility == 'all' }">All</router-link></li>
      <li><router-link :to="{ path: '/', query: { visibility: 'active' } }" :class="{ selected: visibility == 'active' }">Active</router-link></li>
      <li><router-link :to="{ path: '/', query: { visibility: 'completed' } }" :class="{ selected: visibility == 'completed' }">Completed</router-link></li>
    </ul>
    <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
      Clear completed
    </button> -->
  </footer>
</section>
