<my-modal>
  <h3 slot="header">Please pick your desired reminder for {{todo.title}}</h3>
  <div slot="body">
    <v-button markup="warning" @click="result('cancel')">Cancel</v-button>
    <v-button markup="success" :disabled="!changeEnabled" @click="result(settingReminderTime)">OK</v-button>
  </div>
  <div slot="footer">
    <vue-clock-picker mode="24" :defaultHour="defaultHour" :defaultMinute="defaultMinute" :defaultFocused="true" :onTimeChange="timeChangeHandler"></vue-clock-picker>
  </div>
</my-modal>
