<div>
  <div class="view">
    <input class="toggle" type="checkbox" v-model="todo.completed">
    <label @dblclick="editTodo()">{{ todo.title }}</label>
    <button v-tooltip.left-start="reminderMessaging"
     class="remind" @click="addOrUpdateReminder()"><i class="mdi mdi-18px mdi-calendar-clock"></i></button>
    <button v-if="!todo.system" class="destroy" @click="removeTodo(todo)"></button>
  </div>
  <my-date-picker v-if="reminderPickModalResult" :result="reminderPickModalResult" :todo="todo" :reminder="reminder" >
  </my-date-picker>
  <input class="edit" type="text"
    v-model="todo.title"
    v-todo-focus="todo == editedTodo"
    @blur="doneEdit()"
    @keyup.enter="doneEdit()"
    @keyup.esc="cancelEdit()">
</div>
