<div>
  <div class="view" :class=" {'hide-view': editing} ">
    <input class="toggle" type="checkbox" v-model="todo.completed">
    <label @dblclick="!todo.system && editTodo()">{{ todo.title }}</label>
    <button v-tooltip.left="reminderMessaging"
     class="remind" @click="updateReminder()"><i class="mdi mdi-18px mdi-calendar-clock"></i></button>
    <button v-if="!todo.system" class="destroy" @click="removeTodo(todo)"></button>
  </div>
  <my-date-picker v-if="reminderPickModalResult" :result="reminderPickModalResult" :todo="todo" :reminder="reminder" >
  </my-date-picker>
  <input class="edit" :class=" {editing: editing} " type="text"
    v-model="todo.title"
    v-todo-focus="editing"
    @blur="doneEdit()"
    @keyup.enter="doneEdit()"
    @keyup.esc="cancelEdit()">
</div>
