.nav-links {
  padding: 1em 1em 0 1em;
  font-size: 18px;
}

.nav-links a {
  text-decoration: none;
  padding: 0.5em;
  color: cadetblue;
  background-color: rgba(175, 47, 47, 0.1);
  border: 0;
}

.nav-links a:hover {
  background-color:orangered;
  color: white;
}

.nav-links a.router-link-exact-active {
  background-color:orangered;
  color: white;
}

.divider {
  border-top: 1px outset orangered;
}